body{
    color: aliceblue;
    margin: 0px;
    padding: 0px;
    background-color: #949ca3;
    font-family: 'Roboto Serif', serif;
}



header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0e0e0e;


}



#NavBar{
    width: 55rem;
    display: flex;
    justify-content: center;
    
}

.NavBtn{
    flex-grow: 1;
    padding: 12px;
    text-decoration: none;
    color: #949ca3;
    font-size: 1.32rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: #949ca3;
    transition: 0.6s;
    cursor: pointer;
    text-align: center;
}

.NavBtn:hover{
    background-color: #333;
    color: aliceblue;
}

h1{
    font-family: 'Pinyon Script', cursive;
    font-size: 3.2rem;
    
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon{
    padding: 0px;
    width: 3rem;
    height: 3rem;
    margin: 0px 9px;
}


.arts{
    width: 225px;
    margin: 0.75rem;
    
}

.paints{
    width: 55rem;
    display: flex;
    background-color: aliceblue;
    color: #0e0e0e;
    margin: 1rem;
    border: solid 4px #0e0e0e;

}

article{
    margin-top: 1.5rem;
}
.articleTilte{
    margin: 0px;
    font-size: 2rem;
    color: #949ca3;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.artigo{
    font-size: 1.3rem;
}